{% extends 'website/base.html' %}
{% load static %}
{% block content %}
<div class="ftco-blocks-cover-1">
  <div class="ftco-cover-1 overlay innerpage" style="background-image:url(static/Images/IMG-20220401-WA0025.jpg)">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 text-center">
          <h1>Our Services</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-5">
        <div class="service-1 dark">
          <span class="service-1-icon">
            <span class="icon-cake"></span>
          </span>
          <div class="service-1-contents">
            <h3>Weddings</h3>
            <p>Our main service normally consisting of two packages.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-5">
        <div class="service-1 dark">
          <span class="service-1-icon">
            <span class="icon-cake"></span>
          </span>
          <div class="service-1-contents">
            <h3>Picnics</h3>
            <p>Pallet setups with cushions setup in the lush, green gardens</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-5">
        <div class="service-1 dark">
          <span class="service-1-icon">
            <span class="icon-cake"></span>
          </span>
          <div class="service-1-contents">
            <h3>Conferences</h3>
            <p>Breakfast Meetings, High Teas, Lunch Meetings all offered here</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-5">
        <div class="service-1 dark">
          <span class="service-1-icon">
            <span class="icon-cake"></span>
          </span>
          <div class="service-1-contents">
            <h3>Bridal Showers</h3>
            <p>Come pre celebrate your wedding day in our garden on our table setups</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-5">
        <div class="service-1 dark">
          <span class="service-1-icon">
            <span class="icon-cake"></span>
          </span>
          <div class="service-1-contents">
            <h3>Proposal Setups</h3>
            <p>Come to our gardens, get her to relax, pop the question and make her cry!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-5">
        <div class="service-1 dark">
          <span class="service-1-icon">
            <span class="icon-cake"></span>
          </span>
          <div class="service-1-contents">
            <h3>Food</h3>
            <p>On site catering offered for both picnics and large events</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-5">
        <div class="service-1 dark">
          <span class="service-1-icon">
            <span class="icon-cake"></span>
          </span>
          <div class="service-1-contents">
            <h3>Balloon Garlands</h3>
            <p>Why stop at table setups, introduce balloons and add that missing flair!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}